In [1]:
%load_ext autoreload
%autoreload

## This expands a notebook to full width
from IPython.display import display, HTML

display(HTML("<style>.container { width:90% !important; }</style>"))
display(HTML("""<style>div.output_area{max-height:10000px;overflow:scroll;}</style>"""))
## Show Python Version
import sys
print("Python: {0}".format(sys.version))

## Show Current Time
import datetime as dt
start = dt.datetime.now()
print("Notebook Last Run Initiated: "+str(start))

Python: 3.10.9 | packaged by conda-forge | (main, Jan 11 2023, 15:15:40) [MSC v.1916 64 bit (AMD64)]
Notebook Last Run Initiated: 2023-03-13 22:06:33.268874

In [2]:
from sklearn.cluster import KMeans
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
seed = 42

import pandas as pd
import numpy as np

from kmodes.kmodes import KModes

import sklearn.metrics as sklearn_metrics

np.random.seed(seed)

In [4]:
data = pd.read_csv('data/train_data_cat.csv')

data.postal_code = data.postal_code.astype(str)
data['postal_code'] = data['postal_code'].str.zfill(5)

In [5]:
data.head()

,accountid,userid,postal_code,city,county,state,rural_code,key_zips_ind,gender,marital_status,age,usercreationdate,engaged,camera_count,firsttransaction,ratio_open30
0,B24CB6E7-C8E1-4B8D-9778-B724F67E05B2,64841C33-4A5A-4E8C-BB61-BDD70F326E90,85226,chandler,maricopa,az,rc_s,keyservice,gender_other,ms_other,age_unk,new_user,strongly_engaged,single_camera,fast,low_frequency_ratio30
1,F51FC1D9-5D37-4D34-AB54-1F41B9BD8C06,F51FC1D9-5D37-4D34-AB54-1F41B9BD8C06,98032,kent,king,wa,rc_u,keyservice,gender_m,ms_m,age_adult,established_user,strongly_engaged,multi_camera,slow,mediumfrequencyratio30
2,2036E661-F89B-46CA-AD81-1AD78CA8C91E,913AEF55-040B-4F53-BA0A-7F136B4368F6,75204,dallas,dallas,tx,rc_u,keyservice,gender_m,ms_m,age_adult,new_user,strongly_engaged,single_camera,immediate,low_frequency_ratio30
3,565A44C3-7F0A-4F50-89AA-7E296917B8FF,7584C122-1E64-47E8-B587-F466A39FD7D4,07922,berkeley_heights,union,nj,rc_s,keyservice,gender_m,ms_s,age_adult,new_user,strongly_engaged,single_camera,immediate,mediumfrequencyratio30
4,677AEC7D-BC45-4D29-B116-3758EA2D15CB,4C70B81B-2A69-4708-A7CE-C1BBCC03E043,40165,shepherdsville,bullitt,ky,rc_s,keyservice,gender_other,ms_other,age_unk,new_user,strongly_engaged,single_camera,immediate,mediumfrequencyratio30

In [6]:
kmode = KModes(n_clusters=2, init = "random", n_init = 20, verbose=0, random_state=42)
clusters = kmode.fit_predict(data.iloc[:,2:])

In [7]:
clustered_data = data.loc[:,['accountid','userid']]

In [8]:
clustered_data['cluster'] = pd.Categorical(clusters)

In [9]:
clustered_data.to_csv('data/cluster_index_KModes.csv',index=False)